body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*************** NAVBAR **************/
.navbar {
  background-color: #242424;
  color:antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  max-width: 1500px;
}

.navbar-logo {
  display: flex;
  justify-self: start;
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
}

.navbar-logo img {
  width: 150px;
  height: 100%;
}

.fa-tree {
  margin-left: 0.5rem;
  font-size: 2rem;
  color: #AA0000;
}

.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
  width: 60vw;
  justify-content: end;
  margin-right: 2rem;
}

.nav-item {
  margin-right: 1rem;
}

.nav-links {
  color: antiquewhite;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem;
}

.nav-links:hover {
  border-bottom: 2px solid #AA0000;
  transition: all 0.2s ease-out;
  color: #AA0000;
  font-weight: bold;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 680px) {
}